<div>
  <h3>CSC436 social-media project API</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Endpoint</th>
        <th>Method</th>
        <th>Example</th>
        <th>Sample response / Sample request body</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @api_details.each do |api| %>
        <tr>
          <td><i><%= api[:endpoint] %></i></td>
          <td><%= api[:method] %></td>
          <td><%= api[:example] %></td>
          <td><pre><%= api[:json] %></pre></td>
          <td><%= api[:description] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
